[submodule "userspace/powerline/src"]
	path = userspace/shell/powerline/src
	url = https://github.com/kirens-dotfiles/powerline-go.git
[submodule "userspace/devtools/environments"]
	path = userspace/devtools/environments
	url = https://github.com/kirens-dotfiles/nix-env-templates.git
[submodule "userspace/shell/fish/packages/fishnet"]
	path = userspace/shell/fish/packages/fishnet
	url = https://github.com/kirens-dotfiles/fishnet.git
[submodule "userspace/scripts/multiroom"]
	path = userspace/scripts/multiroom
	url = https://github.com/kirens-dotfiles/multiroom.git
[submodule "pkgs"]
	path = pkgs
	url = git@github.com:kirens-dotfiles/nixpkgs-proxy.git